In [371]:
!pip install tweepy --quiet

In [372]:
import sys
sys.executable

'c:\\Users\\14708\\anaconda3\\python.exe'

In [412]:
import numpy as np 
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px 
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

pd.set_option('display.max_columns', 25)

import tweepy
from googletrans import Translator
from langdetect import detect
from translate import Translator

In [374]:
main_df=pd.read_csv(r"C:\Users\14708\Downloads\Tata and Hyundai cars - data.xlsx - Data.csv")
df = main_df.copy()

## Data Exploration, Preparation

In [375]:
df.head()

,Date,Headline,URL,Opening Text,Hit Sentence,Source,Influencer,Country,Subregion,Language,Reach,Desktop Reach,Mobile Reach,Twitter Social Echo,Facebook Social Echo,Reddit Social Echo,National Viewership,Engagement,Sentiment,Keywords,State
0,28-Sep-2023 02:08PM,Kia ‡§î‡§∞ Hyundai ‡§®‡•á ‡§µ‡§æ‡§™‡§∏ ‡§¨‡•Å‡§≤‡§æ‡§à‡§Ç ‡§Ö‡§™‡§®‡•Ä 35 ‡§≤‡§æ‡§ñ ‡§ï‡§æ‡§∞‡•á...,https://hindi.pardaphash.com/kia-and-hyundai-r...,Kia and Hyundai Recalled Cars: ‡§µ‡§æ‡§π‡§® ‡§®‡§ø‡§∞‡•ç‡§Æ‡§æ‡§§‡§æ ‡§ï...,Kia and Hyundai Recalled Cars: ‡§µ‡§æ‡§π‡§® ‡§®‡§ø‡§∞‡•ç‡§Æ‡§æ‡§§‡§æ ‡§ï...,Pardaphash,NaN,India,Delhi,Hindi,31307.0,1279.0,30028.0,0.0,0.0,0.0,0,NaN,Neutral,"Hyundai,Cars",Delhi
1,28-Sep-2023 01:46PM,"Tata Punch EV spied, may compete with MG Comen...",https://economictimes.indiatimes.com/industry/...,Tata Motors is reportedly developing an electr...,... Punch EV is expected to compete with the M...,The Economic Times,NaN,India,National,English,15403059.0,6171732.0,9231327.0,0.0,0.0,0.0,0,NaN,Neutral,"Tata,cars",Maharashtra
2,28-Sep-2023 01:30PM,Tata Avinya Reviews On Road Price 2023 Mileage...,https://badisoch.in/automobile-news/tata-aviny...,... (adsbygoogle = window.adsbygoogle || []).p...,"... , despite most carmakers focusing on large...",Badi Soch,NaN,India,NaN,English,1128280.0,171549.0,956731.0,0.0,0.0,0.0,0,NaN,Neutral,"cars,Tata",NaN
3,28-Sep-2023 01:24PM,NaN,http://twitter.com/automobilindia8/statuses/17...,NaN,Engine Fire-Related Risks Force Kia & Hyundai ...,Twitter,@automobilindia8,India,NaN,English,2.0,NaN,NaN,NaN,NaN,NaN,0,0.0,Neutral,"Hyundai,Cars,hyundai",Karnataka
4,28-Sep-2023 01:22PM,NaN,http://twitter.com/MalakpetD/statuses/17073021...,NaN,"@srinualavilli @BMTC_BENGALURU Mahindra, Tata,...",Twitter,@MalakpetD,India,NaN,English,506.0,NaN,NaN,NaN,NaN,NaN,0,0.0,Neutral,"Tata,cars",Telangana

In [376]:
df.tail()

,Date,Headline,URL,Opening Text,Hit Sentence,Source,Influencer,Country,Subregion,Language,Reach,Desktop Reach,Mobile Reach,Twitter Social Echo,Facebook Social Echo,Reddit Social Echo,National Viewership,Engagement,Sentiment,Keywords,State
1523,12-Sep-2023 06:20AM,MG3 hatchback takes out ‚Äòcheapest car to run‚Äô ...,https://bulletinreporter.com/mg3-hatchback-tak...,A small car has claimed the title of the cheap...,"... Costs Survey, which lists the cost of runn...",Bulletin Reporter,Kemal Pasha,India,NaN,English,2074.0,2074.0,0.0,0.0,0.0,0.0,0,NaN,Positive,"Hyundai,cars",NaN
1524,12-Sep-2023 05:24AM,MG3 hatchback named by RACV as the most cost-e...,https://vervetimes.com/mg3-hatchback-named-by-...,A small car has claimed the title of the cheap...,"... Costs Survey, which lists the cost of runn...",Verve times - Latest News around the World,NaN,India,NaN,English,26425.0,7491.0,18934.0,0.0,0.0,0.0,0,NaN,Positive,"Hyundai,cars",NaN
1525,12-Sep-2023 04:37AM,RACV names MG3 hatchback as the cheapest vehic...,https://newsconcerns.com/racv-names-mg3-hatchb...,A small car has claimed the title of the cheap...,"... Costs Survey, which lists the cost of runn...",News Concerns - Latest News Update,Charlie Brown,India,Madhya Pradesh,English,9323.0,2527.0,6796.0,0.0,0.0,0.0,0,NaN,Positive,"Hyundai,cars",Madhya Pradesh
1526,12-Sep-2023 04:04AM,Tata Power EZ App Electrifies Green Revolution...,https://thenfapost.com/tata-power-ez-app-elect...,Tata Power EZ App Electrifies Green Revolution...,Charging hubs for leading cab fleet operators....,NFAPost,N V Vijayakumar,India,Bangalore,English,851.0,851.0,0.0,0.0,0.0,0.0,0,NaN,Neutral,"Tata,cars",Karnataka
1527,12-Sep-2023 02:44AM,NaN,http://twitter.com/poojashah0998/statuses/1701...,NaN,RT @ShamsNaqvi: One of the most awaited cars t...,Twitter,@poojashah0998,India,NaN,English,45.0,NaN,NaN,NaN,NaN,NaN,0,NaN,Positive,"cars,Tata",Maharashtra

In [377]:
df.sample(5)

,Date,Headline,URL,Opening Text,Hit Sentence,Source,Influencer,Country,Subregion,Language,Reach,Desktop Reach,Mobile Reach,Twitter Social Echo,Facebook Social Echo,Reddit Social Echo,National Viewership,Engagement,Sentiment,Keywords,State
1447,12-Sep-2023 02:49PM,NaN,http://twitter.com/vijaymafia01/statuses/17015...,NaN,RT @AVinthehousee: #ThalapathyVijay is a Car E...,Twitter,@vijaymafia01,India,NaN,English,316.0,NaN,NaN,NaN,NaN,NaN,0,NaN,Neutral,"Cars,Tata",Tamil Nadu
95,26-Sep-2023 08:40PM,NaN,http://twitter.com/unfeignedindian/statuses/17...,NaN,@zoo_bear Hundreds of Maruti car meet accident...,Twitter,@unfeignedindian,India,NaN,English,97.0,NaN,NaN,NaN,NaN,NaN,0,0.0,Negative,"tata,cars",NaN
1074,13-Sep-2023 06:46PM,NaN,http://twitter.com/Surya_Sarath_Vj/statuses/17...,NaN,RT @dp_karthik: Here is a list of cars that @a...,Twitter,@Surya_Sarath_Vj,India,NaN,English,2050.0,NaN,NaN,NaN,NaN,NaN,0,NaN,Neutral,"cars,Tata",Tamil Nadu
1408,12-Sep-2023 03:58PM,NaN,http://twitter.com/mr_kk001_/statuses/17015433...,NaN,RT @AVinthehousee: #ThalapathyVijay is a Car E...,Twitter,@mr_kk001_,India,NaN,English,879.0,NaN,NaN,NaN,NaN,NaN,0,NaN,Neutral,"Cars,Tata",NaN
316,22-Sep-2023 12:28PM,Hyundai Sweetens EV Deal With Free Home Chargers,https://samacharcentral.com/hyundai-sweetens-e...,In a bid to get more drivers into electric car...,In a bid to get more drivers into electric car...,Samacharcentral.com,Omprakash Tiwary,India,NaN,English,16271.0,8614.0,7657.0,0.0,0.0,0.0,0,NaN,Neutral,"cars,Hyundai",NaN

In [378]:
df.iloc[0]

Date                                                  28-Sep-2023 02:08PM
Headline                Kia ‡§î‡§∞ Hyundai ‡§®‡•á ‡§µ‡§æ‡§™‡§∏ ‡§¨‡•Å‡§≤‡§æ‡§à‡§Ç ‡§Ö‡§™‡§®‡•Ä 35 ‡§≤‡§æ‡§ñ ‡§ï‡§æ‡§∞‡•á...
URL                     https://hindi.pardaphash.com/kia-and-hyundai-r...
Opening Text            Kia and Hyundai Recalled Cars: ‡§µ‡§æ‡§π‡§® ‡§®‡§ø‡§∞‡•ç‡§Æ‡§æ‡§§‡§æ ‡§ï...
Hit Sentence            Kia and Hyundai Recalled Cars: ‡§µ‡§æ‡§π‡§® ‡§®‡§ø‡§∞‡•ç‡§Æ‡§æ‡§§‡§æ ‡§ï...
Source                                                         Pardaphash
Influencer                                                            NaN
Country                                                             India
Subregion                                                           Delhi
Language                                                            Hindi
Reach                                                             31307.0
Desktop Reach                                                      1279.0
Mobile Reach                                                      30028.0
Twitter Social Echo                                                   0.0
Facebook Social Echo                                                  0.0
Reddit Social Echo                                                    0.0
National Viewership                                                     0
Engagement                                                            NaN
Sentiment                                                         Neutral
Keywords                                                     Hyundai,Cars
State                                                               Delhi
Name: 0, dtype: object

In [379]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1528 entries, 0 to 1527
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1528 non-null   object
 1   Headline              710 non-null    object
 2   URL                   1528 non-null   object
 3   Opening Text          710 non-null    object
 4   Hit Sentence          1528 non-null   object
 5   Source                1528 non-null   object
 6   Influencer            1065 non-null   object
 7   Country               1528 non-null   object
 8   Subregion             321 non-null    object
 9   Language              1528 non-null   object
 10  Reach                 1519 non-null   float64
 11  Desktop Reach         710 non-null    float64
 12  Mobile Reach          710 non-null    float64
 13  Twitter Social Echo   710 non-null    float64
 14  Facebook Social Echo  710 non-null    float64
 15  Reddit Social Echo    710 non-null    float64
 16  National Viewership   1528 non-null   int64
 17  Engagement            352 non-null    float64
 18  Sentiment             1528 non-null   object
 19  Keywords              1528 non-null   object
 20  State                 1028 non-null   object
dtypes: float64(7), int64(1), object(13)
memory usage: 250.8+ KB

In [380]:
# Checking for Null values
df.isna().sum()

Date                       0
Headline                 818
URL                        0
Opening Text             818
Hit Sentence               0
Source                     0
Influencer               463
Country                    0
Subregion               1207
Language                   0
Reach                      9
Desktop Reach            818
Mobile Reach             818
Twitter Social Echo      818
Facebook Social Echo     818
Reddit Social Echo       818
National Viewership        0
Engagement              1176
Sentiment                  0
Keywords                   0
State                    500
dtype: int64

In [381]:
# Deleting the column Country
df.drop(columns='Country', inplace=True)

In [382]:
df = df[['Date', 'Headline', 'URL', 'Opening Text', 'Hit Sentence', 'Source',
       'Influencer', 'Subregion', 'State', 'Language', 'Sentiment', 'Keywords',
       'Reach', 'Desktop Reach', 'Mobile Reach', 'Twitter Social Echo',
       'Facebook Social Echo', 'Reddit Social Echo', 'National Viewership',
       'Engagement'
       ]]

In [383]:
print('State Missing:',df['State'].isna().sum())
print('Subregion Missing:',df['Subregion'].isna().sum())

# These two are similar columns wioth large amounts of null values, thus one good way is to fill the null values with the values in the relevant column.
df['State'].fillna(df['Subregion'], inplace=True)
df['Subregion'].fillna(df['State'], inplace=True)

print(df['State'].isna().sum())
print(df['Subregion'].isna().sum())

# makes no sense to keep the subregion column 
df.drop(columns='Subregion', inplace=True)

State Missing: 500
Subregion Missing: 1207
497
497

In [384]:
# Check for duplicates
df.duplicated().sum()

0

In [385]:
# categorical columns
cat_cols = df.select_dtypes('object').columns
print(cat_cols)

# numerical columns
numeric_cols = df.select_dtypes(include=np.number).columns
print(numeric_cols)

Index(['Date', 'Headline', 'URL', 'Opening Text', 'Hit Sentence', 'Source',
       'Influencer', 'State', 'Language', 'Sentiment', 'Keywords'],
      dtype='object')
Index(['Reach', 'Desktop Reach', 'Mobile Reach', 'Twitter Social Echo',
       'Facebook Social Echo', 'Reddit Social Echo', 'National Viewership',
       'Engagement'],
      dtype='object')

In [386]:
df['Source'].value_counts()

Twitter                818
India Posts English     89
The Times of India      32
Cartoq                  21
Todays Chronic          14
                      ...
TechCodex                1
Prameyanews              1
Orissa Diary             1
ODISHABARTA.COM          1
NFAPost                  1
Name: Source, Length: 230, dtype: int64

In [387]:
df.isna().sum()

Date                       0
Headline                 818
URL                        0
Opening Text             818
Hit Sentence               0
Source                     0
Influencer               463
State                    497
Language                   0
Sentiment                  0
Keywords                   0
Reach                      9
Desktop Reach            818
Mobile Reach             818
Twitter Social Echo      818
Facebook Social Echo     818
Reddit Social Echo       818
National Viewership        0
Engagement              1176
dtype: int64

In [388]:
df[df['Source']=='Twitter'].isna().sum()

Date                      0
Headline                818
URL                       0
Opening Text            818
Hit Sentence              0
Source                    0
Influencer                0
State                   129
Language                  0
Sentiment                 0
Keywords                  0
Reach                     9
Desktop Reach           818
Mobile Reach            818
Twitter Social Echo     818
Facebook Social Echo    818
Reddit Social Echo      818
National Viewership       0
Engagement              504
dtype: int64

-----------------------------------------------------------------------------------------------------------------------------------------------------------

In [389]:
print(len(df['Keywords'].unique()))

print(len(df['Keywords'].str.lower().unique()))
df['Keywords']=df['Keywords'].str.lower()
df['Keywords'].str.lower().unique()

key_map = {
    'hyundai,cars':'hyundai', 'hyundai,cars,hyundai':'hyundai', 'cars,hyundai':'hyundai', 'hyundai,cars,cars':'hyundai',
    'tata,cars':'tata', 'cars,tata':'tata', 'cars,tata,hyundai':'hyundai_tata', 'cars,hyundai,tata':'hyundai_tata', 'tata,cars,tata':'tata',
    'cars,cars,tata':'tata', 'cars,hyundai,cars':'hyundai', 'cars,hyundai,cars,tata':'hyundai_tata', 'tata,cars,hyundai':'hyundai_tata',
    'tata,cars,cars':'tata', 'cars,tata,tata,hyundai':'hyundai_tata', 'hyundai,cars,tata,cars':'hyundai_tata', 'tata,tata,cars':'tata',
    'tata,cars,tata,cars':'tata','hyundai,cars,tata':'hyundai_tata', 'hyundai,tata,cars':'hyundai_tata', 'cars,cars,tata,tata':'tata',
    'cars,tata,tata':'tata', 'cars,tata,hyundai,cars':'hyundai_tata', 'cars,tata,cars':'tata','tata,cars,hyundai,cars':'hyundai_tata',
    'tata,hyundai,cars':'hyundai_tata', 'cars,hyundai,hyundai,cars':'hyundai', 'cars,tata,cars,hyundai':'hyundai_tata'
}

df['Keywords']=df['Keywords'].map(key_map)
df['Keywords'].unique()

65
28

array(['hyundai', 'tata', 'hyundai_tata'], dtype=object)

-----------------------------------------------------------------------------------------------------------------------------------------------------------

In [424]:
# Converting Hit Scentence to english for potential deep analysis in the future and to prevent data loss
df['Language'].value_counts()

English    1507
Hindi        14
Bengali       6
Marathi       1
Name: Language, dtype: int64

In [420]:
# Define a function to check if Hit Scentence column elements are not in English
def is_not_english(text):
    try:
        detected_language = detect(text)
        return detected_language != "en"
    except:
        return True  # If language detection fails, assume it's not English

# Apply the function to the 'Hit Sentence' column and create a boolean mask
non_english_mask = df['Hit Sentence'].apply(is_not_english)

# Filter the DataFrame to get rows with non-English text
non_english_texts = df[non_english_mask]

# Display the non-English texts
print(len(non_english_texts), ', ','This seems a small number, so lets translate these 26 elements into english')

25 ,  This seems a small number, so lets translate these 26 elements into english

In [426]:
def translate_to_english(text):
    translator = Translator(to_lang="en")
    translation = translator.translate(text)
    return translation

translations = []

for text in non_english_texts['Hit Sentence']:
    translation = translate_to_english(text)
    translations.append(translation)

non_english_texts['Translated Text'] = translations

non_english_texts['Translated Text']

C:\Users\14708\AppData\Local\Temp\ipykernel_22564\469313934.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_english_texts['Translated Text'] = translations

0       Kia and Hyundai Recalled Cars: ‡§µ‡§æ‡§π‡§® ‡§®‡§ø‡§∞‡•ç‡§Æ‡§æ‡§§‡§æ ‡§ï...
123     "Hyundai Exter: ‡§®‡§Ø‡§æ ‡§è‡§∏‡§Ø‡•Ç‡§µ‡•Ä ‡§Ü‡§à‡§è‡§∏‡§Ø‡•Ç‡§µ‡•Ä ‡§Æ‡•â‡§°‡§≤ ‡§ï‡•ã ‡§≤‡•á...
127     Top 5 Affordable Electric Cars In India ‡§π‡§Æ‡§æ‡§∞‡•Ä ...
199     ... Hyundai Cars Discount: ‡§π‡•Å‡§Ç‡§°‡§à ‡§Æ‡•ã‡§ü‡§∞ ‡§á‡§Ç‡§°‡§ø‡§Ø‡§æ ‡§≤...
226     ... ‡§Æ‡•á‡§Ç ‡§∏‡•Ä‡§ß‡•á ‡§ü‡§æ‡§ü‡§æ ‡§™‡§Ç‡§ö ‡§à‡§µ‡•Ä ‡§ï‡•á ‡§∏‡§æ‡§• ‡§π‡•ã‡§ó‡§æ. ‡§ü‡§æ‡§ü‡§æ ‡§™‡§Ç...
227     RT @gaadiwaadi: 3 All-New Hyundai Cars Likely ...
343     Discounts on Hyundai Cars ¬© ‡§Æ‡§π‡§æ‡§∞‡§æ‡§∑‡•ç‡§ü‡•ç‡§∞ ‡§ü‡§æ‡§á‡§Æ‡•ç‡§∏ ...
445     ‡§π‡•Å‡§Ç‡§°‡§à ‡§°‡§ø‡§∏‡•ç‡§ï‡§æ‡§â‡§Ç‡§ü ‡§ë‡§´‡§∞‡•ç‡§∏ ( Image Source : ABP Liv...
525     ... ‡¶ó‡¶æ‡¶°‡¶º‡¶ø‡¶∞‡¶ì ‡¶¶‡¶æ‡¶Æ ‡¶Ö‡¶®‡ßá‡¶ï‡¶ü‡¶æ‡¶á ‡¶¨‡¶æ‡¶°‡¶º‡¶¨‡ßá ‡¶¨‡¶≤‡ßá ‡¶Ü‡¶∂‡¶æ ‡¶ï‡¶∞‡¶æ ‡¶π‡ßü‡ßá...
530     ... ‡¶∞‡ßç‡¶≠ ‡¶ï‡¶®‡¶∏‡ßá‡¶™‡ßç‡¶ü ‡¶¶‡ßç‡¶¨‡¶æ‡¶∞‡¶æ ‡¶Ö‡¶®‡ßÅ‡¶™‡ßç‡¶∞‡¶æ‡¶£‡¶ø‡¶§ ‡¶π‡¶¨‡ßá ‡¶è‡¶¨‡¶Ç ‡¶è‡¶ï‡¶ü‡¶ø...
694     @Indian_Index üöò(Aug23) Highest selling cars in...
695     üöò(Aug23) Highest selling cars in india: ‚û°Ô∏èMaru...
728     ... SX 250, KTM Adventure 250, Bajaj Pulsar NS...
954     ... Fearless AMT- 12,99,990 ‡§∞‡•Å‡§™‡§Ø‡•á ‡§Ø‡§π ‡§≠‡•Ä ‡§™‡•ù‡•á‡§Ç :...
1000    Diesel Cars Tax : '‡¶Ø‡¶§‡¶¶‡¶ø‡¶® ‡¶ö‡¶æ‡¶π‡¶ø‡¶¶‡¶æ ‡¶§‡¶§‡¶¶‡¶ø‡¶® ‡¶°‡¶ø‡¶ú‡ßá‡¶≤ ‡¶ó‡¶æ...
1065    RT @BT_Bazaar: ‡§´‡•á‡§∏‡•ç‡§ü‡§ø‡§µ ‡§∏‡•Ä‡§ú‡§® ‡§Æ‡•á‡§Ç ‡§á‡§Ç‡§°‡§∏‡•ç‡§ü‡•ç‡§∞‡•Ä‡§ú ‡§ï‡•ã ...
1076    Diesel Cars ‡§ï‡§æ ‡§≠‡§µ‡§ø‡§∑‡•ç‡§Ø ‡§ï‡•ç‡§Ø‡§æ ‡§π‡•ã‡§ó‡§æ? Maruti ‡§î‡§∞ Hyu...
1077    ‡§´‡•á‡§∏‡•ç‡§ü‡§ø‡§µ ‡§∏‡•Ä‡§ú‡§® ‡§Æ‡•á‡§Ç ‡§á‡§Ç‡§°‡§∏‡•ç‡§ü‡•ç‡§∞‡•Ä‡§ú ‡§ï‡•ã 10 ‡§≤‡§æ‡§ñ ‡§¨‡§ø‡§ï‡•ç‡§∞‡•Ä ‡§ï...
1098    RT @indiatvnews: Nitin Gadkari says no need to...
1130    ... Tata Motors ‡¶¨‡¶æ‡¶ú‡¶æ‡¶∞‡ßá ‡¶¨‡ßà‡¶¶‡ßç‡¶Ø‡ßÅ‡¶§‡¶ø‡¶ï ‡¶ó‡¶æ‡¶°‡¶º‡¶ø-‡¶∏‡¶π (Ele...
1150    Upcoming Tata Cars: ‡§ü‡§æ‡§ü‡§æ ‡§®‡•á ‡§ï‡§∞‡§æ‡§Ø‡§æ Frest ‡§î‡§∞ Azu...
1262    @AjayBos93388306 @MahuaMoitra TATA came to be ...
1370    Best Selling Cars : TATA Puch-‡¶ï‡ßá ‡¶π‡¶æ‡¶∞‡¶æ‡¶≤ ‡¶Æ‡¶æ‡¶∞‡ßÅ‡¶§‡¶ø‡¶∞...
1494    Discount On Hyundai Cars: ‡§π‡•Å‡§Ç‡§°‡§à ‡§≠‡§æ‡§∞‡§§ ‡§Æ‡•á‡§Ç ‡§¶‡•Ç‡§∏‡§∞‡•Ä...
1502    ... Tata Upcoming Cars: ‡§ü‡§æ‡§ü‡§æ ‡§Æ‡•ã‡§ü‡§∞‡•ç‡§∏ ‡§á‡§≤‡•á‡§ï‡•ç‡§ü‡•ç‡§∞‡§ø‡§ï...
Name: Translated Text, dtype: object

-----------------------------------------------------------------------------------------------------------------------------------------------------------

In [431]:
df

,Date,Headline,URL,Opening Text,Hit Sentence,Source,Influencer,State,Language,Sentiment,Keywords,Reach,Desktop Reach,Mobile Reach,Twitter Social Echo,Facebook Social Echo,Reddit Social Echo,National Viewership,Engagement
0,28-Sep-2023 02:08PM,Kia ‡§î‡§∞ Hyundai ‡§®‡•á ‡§µ‡§æ‡§™‡§∏ ‡§¨‡•Å‡§≤‡§æ‡§à‡§Ç ‡§Ö‡§™‡§®‡•Ä 35 ‡§≤‡§æ‡§ñ ‡§ï‡§æ‡§∞‡•á...,https://hindi.pardaphash.com/kia-and-hyundai-r...,Kia and Hyundai Recalled Cars: ‡§µ‡§æ‡§π‡§® ‡§®‡§ø‡§∞‡•ç‡§Æ‡§æ‡§§‡§æ ‡§ï...,Kia and Hyundai Recalled Cars: ‡§µ‡§æ‡§π‡§® ‡§®‡§ø‡§∞‡•ç‡§Æ‡§æ‡§§‡§æ ‡§ï...,Pardaphash,NaN,Delhi,Hindi,Neutral,hyundai,31307.0,1279.0,30028.0,0.0,0.0,0.0,0,NaN
1,28-Sep-2023 01:46PM,"Tata Punch EV spied, may compete with MG Comen...",https://economictimes.indiatimes.com/industry/...,Tata Motors is reportedly developing an electr...,... Punch EV is expected to compete with the M...,The Economic Times,NaN,Maharashtra,English,Neutral,tata,15403059.0,6171732.0,9231327.0,0.0,0.0,0.0,0,NaN
2,28-Sep-2023 01:30PM,Tata Avinya Reviews On Road Price 2023 Mileage...,https://badisoch.in/automobile-news/tata-aviny...,... (adsbygoogle = window.adsbygoogle || []).p...,"... , despite most carmakers focusing on large...",Badi Soch,NaN,NaN,English,Neutral,tata,1128280.0,171549.0,956731.0,0.0,0.0,0.0,0,NaN
3,28-Sep-2023 01:24PM,NaN,http://twitter.com/automobilindia8/statuses/17...,NaN,Engine Fire-Related Risks Force Kia & Hyundai ...,Twitter,@automobilindia8,Karnataka,English,Neutral,hyundai,2.0,NaN,NaN,NaN,NaN,NaN,0,0.0
4,28-Sep-2023 01:22PM,NaN,http://twitter.com/MalakpetD/statuses/17073021...,NaN,"@srinualavilli @BMTC_BENGALURU Mahindra, Tata,...",Twitter,@MalakpetD,Telangana,English,Neutral,tata,506.0,NaN,NaN,NaN,NaN,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523,12-Sep-2023 06:20AM,MG3 hatchback takes out ‚Äòcheapest car to run‚Äô ...,https://bulletinreporter.com/mg3-hatchback-tak...,A small car has claimed the title of the cheap...,"... Costs Survey, which lists the cost of runn...",Bulletin Reporter,Kemal Pasha,NaN,English,Positive,hyundai,2074.0,2074.0,0.0,0.0,0.0,0.0,0,NaN
1524,12-Sep-2023 05:24AM,MG3 hatchback named by RACV as the most cost-e...,https://vervetimes.com/mg3-hatchback-named-by-...,A small car has claimed the title of the cheap...,"... Costs Survey, which lists the cost of runn...",Verve times - Latest News around the World,NaN,NaN,English,Positive,hyundai,26425.0,7491.0,18934.0,0.0,0.0,0.0,0,NaN
1525,12-Sep-2023 04:37AM,RACV names MG3 hatchback as the cheapest vehic...,https://newsconcerns.com/racv-names-mg3-hatchb...,A small car has claimed the title of the cheap...,"... Costs Survey, which lists the cost of runn...",News Concerns - Latest News Update,Charlie Brown,Madhya Pradesh,English,Positive,hyundai,9323.0,2527.0,6796.0,0.0,0.0,0.0,0,NaN
1526,12-Sep-2023 04:04AM,Tata Power EZ App Electrifies Green Revolution...,https://thenfapost.com/tata-power-ez-app-elect...,Tata Power EZ App Electrifies Green Revolution...,Charging hubs for leading cab fleet operators....,NFAPost,N V Vijayakumar,Karnataka,English,Neutral,tata,851.0,851.0,0.0,0.0,0.0,0.0,0,NaN
1527,12-Sep-2023 02:44AM,NaN,http://twitter.com/poojashah0998/statuses/1701...,NaN,RT @ShamsNaqvi: One of the most awaited cars t...,Twitter,@poojashah0998,Maharashtra,English,Positive,tata,45.0,NaN,NaN,NaN,NaN,NaN,0,NaN